- if !comment.deleted || @link.comments_by_parent(current_user_id)[comment.id]
  div.comment-container class='#{comment.depth % 2 == 1 ? 'even' : 'odd'}'
    section id='comment_#{comment.id}' class='comment#{comment_classes(comment)}' data-score='#{comment.score}'
      - if comment.deleted
        div.comment-header
          = t('.posted_html', user: content_tag(:em, t(:deleted)),
                              created: time_ago_in_words(comment.created_at))
        div.comment-markdown.markdown
          = t('.comment_deleted')
      - else
        div.comment-header
          = link_to '&#9650;'.html_safe, votes_path, class: 'up'
          = link_to '&#9660;'.html_safe, votes_path, class: 'down'
          span data-score-display='$1:' class='score#{signed_class(comment.score)}'
            = "%+d:" % comment.score
          = t('.posted_html', user: link_to(comment.user_name, user_path(comment.user_name.downcase)),
                              created: time_ago_in_words(comment.created_at))
          - if signed_in?
            ul.comment-options
              - if comment.can_edit?(current_user)
                li.edit = link_to fa_tag('edit') + content_tag(:span, t('buttons.edit')),
                  comment_path(comment.id), data: { content: comment.text }
              - if comment.can_delete?(current_user)
                li.delete = link_to fa_tag('remove') + content_tag(:span, t('buttons.delete')),
                  comment_path(comment.id), method: :delete, data: { confirm: t(:confirm_delete) }
              - else
                li.report = link_to fa_tag('exclamation-triangle') + content_tag(:span, t('buttons.report')), '#'
              li.reply = link_to fa_tag('reply') + content_tag(:span, t('buttons.reply')), '#'
        div.comment-markdown.markdown
          = comment.text_cached.html_safe
    - if @link.comments_by_parent(current_user_id)[comment.id]
      = render(partial: 'comments/comment', collection: @link.comments_by_parent(current_user_id)[comment.id])
