= form_for @user, remote: true, html: { id: 'settings_form' } do |f|
  h2 = t('.title')
  = field_set_tag do
    = f.check_box(:show_nsfw, data: { 'body-off': 'hide-nsfw' })
    = f.label(:show_nsfw, t('.show_nsfw'))
  div.status.saving = fa_tag('spinner fa-spin') + t('status.saving')
  div.status.saved = fa_tag('check') + t('status.saved')
  div.status.error = fa_tag('warning') + t('status.error')
= form_for @user, remote: true, html: { id: 'user_profile_form' } do |f|
  h3 = t('.update_profile')
  = f.hidden_field :update_profile, value: 1
  = f.label :email
  = f.text_field :email, class: 'u-full-width', maxlength: attribute_max(User, :email)
  = f.label :profile
  = render 'comments/markdown_help', field: f.text_area(:profile, class: 'u-full-width', placeholder: t('.about_profile'))
  = f.button t('buttons.submit'), class: 'button-primary'
= form_for @user, remote: true, html: { id: 'user_password_form' } do |f|
  h3 = t('.update_password')
  = f.hidden_field :update_password, value: 1
  = f.label :current_password, class: 'required'
  = f.password_field :current_password, class: 'u-full-width'
  = f.label :password, t('.new_password'), class: 'required'
  = f.password_field :password, class: 'u-full-width'
  = f.label :password_confirmation, class: 'required'
  = f.password_field :password_confirmation, class: 'u-full-width'
  = f.button t('buttons.submit'), class: 'button-primary'
