= form_for :session, remote: true, url: sessions_path, html: { id: 'session_form' } do |f|
  h2 = t '.sign_in'
  = f.label :name, class: 'required', maxlength: attribute_max(User, :name)
  = f.text_field :name, class: 'u-full-width'
  = f.label :password, class: 'required'
  = f.password_field :password, class: 'u-full-width'
  = field_set_tag do
    = f.check_box(:remember) + f.label(:remember, t('.remember'))
  = captcha 'sign_in', show_when_risky: true
  = f.button t('.sign_in'), class: 'button-primary'
= form_for :user, remote: true, url: users_path, html: { id: 'user_form' } do |f|
  h2 = t '.register'
  = f.label :name, class: 'required'
  = f.text_field :name, class: 'u-full-width', maxlength: attribute_max(User, :name), placeholder: t('.name_placeholder')
  = f.label :password, class: 'required'
  = f.password_field :password, class: 'u-full-width'
  = f.label :password_confirmation, class: 'required'
  = f.password_field :password_confirmation, class: 'u-full-width'
  = f.label :email
  = f.text_field :email, class: 'u-full-width', maxlength: attribute_max(User, :email), placeholder: t('.email_placeholder')
  = field_set_tag do
    = f.check_box(:remember)
    = f.label(:remember, t('.remember'))
  = captcha 'register'
  = f.button t('.register'), class: 'button-primary'
