h2 = t '.header', user: @user.name
- if @user.can_edit?(current_user)
  = link_to t('users.edit.title'), edit_user_path(params[:id]), class: 'button mr'
- if current_user?(@user)
  = link_to t('users.sign_out'), sign_out_path, method: 'delete', class: 'button'
- unless @user.profile.blank?
  h6 = t('.profile')
  div.markdown = MarkdownParser.markdown_convert @user.profile
h6 = t('.latest_comments')
| Latest comments and links submitted will be shown here.
