section class='link#{link_classes(link)}' id="link_#{link.id}" data-score="#{link.score}"
  = link_to '&#9650;'.html_safe, votes_path, class: 'up'
  = link_to '&#9660;'.html_safe, votes_path, class: 'down'
  div.thumbnail
    = link_to image_tag(link.thumbnail) + \
      (link.content_icon ? fa_tag(link.content_icon + ' icon') : '') + \
      (link.generating_thumbnail? ? fa_tag('cog fa-spin loading') : ''),
      link.url_or_comments, class: link.url? ? '' : 'view', target: '_blank'
    - unless link.text.blank?
      = link_to fa_tag('font'), '#', title: t('.inline'), class: 'text'
  div.content
    span data-score-display='$1:' class='score#{signed_class(link.score)}'
      = "%+d:" % link.score
    = link_to link.title, link.url_or_comments, class: 'title', target: '_blank'
    - if link.nsfw?
      span.nsfw = t('.nsfw')
    span.domain
      = link.domain
    ul.footer
      - if signed_in?
        li.save = link_to fa_tag('star'), '#', title: t('buttons.star')
        - unless defined? link_counter
          li.report = link_to fa_tag('exclamation-triangle'), '#', title: t('buttons.report')
      li.comments = link_to (fa_tag('comments') + t('links.comments_html', count: link.comments_count)),
                             link.comments_url, title: t('.comments')
      li.info = link_info(link, show_full: type == :single)
