= form_for :link, remote: true, url: links_path, html: { id: 'link_form' } do |f|
  h2 = t('.title')
  p = t('.new_link_msg')
  = f.label :category_path, class: 'required'
  = f.text_field :category_path, { value: @category_path, class: 'u-full-width' }
  = f.label :title, class: 'required'
  = f.text_field :title, class: 'u-full-width',
                         maxlength: attribute_max(Link, :title)
  = f.label :url
  = f.text_field :url, class: 'u-full-width',
                       maxlength: attribute_max(Link, :url)
  = f.label :text
  = render 'comments/markdown_help', field: f.text_area(:text, class: 'u-full-width')
  = field_set_tag do
    = f.check_box(:nsfw) + f.label(:nsfw, t('.nsfw'))
  = captcha 'content-captcha'
  = f.button t('buttons.submit'), class: 'button-primary'
