= render partial: 'link', object: @link, locals: { type: :single }
- unless @link.text.blank?
  div.text-container.markdown = MarkdownParser.markdown_convert @link.text
- if signed_in?
  = form_for :comment, remote: true, url: comments_path, html: { id: 'comment_form', class: 'comment-form' } do |f|
    h5 = t('.comments')
    h6.header-reply = t('.posting_reply')
    h6.header-edit = t('.editing_comment')
    = f.hidden_field :comment_id
    = f.hidden_field :link_id, value: @link.id
    = render 'comments/markdown_help', field: f.text_area(:text, class: 'u-full-width')
    = f.button t('.post_comment'), class: 'button-primary post-button'
    = f.button t('.edit_comment'), class: 'button-primary edit-button'
- else
  h5 = t('.comments')
  p = t('.sign_in_required')
div.comment-list
  = render(partial: 'comments/comment', collection: @link.comments_by_parent(current_user_id)[0], locals: { type: :nested })
    || content_tag(:strong, t('.no_comments'))
