@font-face {
    font-family: 'roboto_condensedbold';
    src: url('/fonts/robotocondensed-bold-webfont.eot');
    src: url('/fonts/robotocondensed-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/robotocondensed-bold-webfont.woff2') format('woff2'),
         url('/fonts/robotocondensed-bold-webfont.woff') format('woff'),
         url('/fonts/robotocondensed-bold-webfont.ttf') format('truetype'),
         url('/fonts/robotocondensed-bold-webfont.svg#roboto_condensedbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'roboto_condensedbold_italic';
    src: url('/fonts/robotocondensed-bolditalic-webfont.eot');
    src: url('/fonts/robotocondensed-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/robotocondensed-bolditalic-webfont.woff2') format('woff2'),
         url('/fonts/robotocondensed-bolditalic-webfont.woff') format('woff'),
         url('/fonts/robotocondensed-bolditalic-webfont.ttf') format('truetype'),
         url('/fonts/robotocondensed-bolditalic-webfont.svg#roboto_condensedbold_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotobold';
    src: url('/fonts/roboto-bold-webfont.eot');
    src: url('/fonts/roboto-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/roboto-bold-webfont.woff2') format('woff2'),
         url('/fonts/roboto-bold-webfont.woff') format('woff'),
         url('/fonts/roboto-bold-webfont.ttf') format('truetype'),
         url('/fonts/roboto-bold-webfont.svg#robotobold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotobold_italic';
    src: url('/fonts/roboto-bolditalic-webfont.eot');
    src: url('/fonts/roboto-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/roboto-bolditalic-webfont.woff2') format('woff2'),
         url('/fonts/roboto-bolditalic-webfont.woff') format('woff'),
         url('/fonts/roboto-bolditalic-webfont.ttf') format('truetype'),
         url('/fonts/roboto-bolditalic-webfont.svg#robotobold_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotoblack';
    src: url('/fonts/roboto-black-webfont.eot');
    src: url('/fonts/roboto-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/roboto-black-webfont.woff2') format('woff2'),
         url('/fonts/roboto-black-webfont.woff') format('woff'),
         url('/fonts/roboto-black-webfont.ttf') format('truetype'),
         url('/fonts/roboto-black-webfont.svg#robotoblack') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotoblack_italic';
    src: url('/fonts/roboto-blackitalic-webfont.eot');
    src: url('/fonts/roboto-blackitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/roboto-blackitalic-webfont.woff2') format('woff2'),
         url('/fonts/roboto-blackitalic-webfont.woff') format('woff'),
         url('/fonts/roboto-blackitalic-webfont.ttf') format('truetype'),
         url('/fonts/roboto-blackitalic-webfont.svg#robotoblack_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotomedium';
    src: url('/fonts/roboto-medium-webfont.eot');
    src: url('/fonts/roboto-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/roboto-medium-webfont.woff2') format('woff2'),
         url('/fonts/roboto-medium-webfont.woff') format('woff'),
         url('/fonts/roboto-medium-webfont.ttf') format('truetype'),
         url('/fonts/roboto-medium-webfont.svg#robotomedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotolight';
    src: url('/fonts/roboto-light-webfont.eot');
    src: url('/fonts/roboto-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/roboto-light-webfont.woff2') format('woff2'),
         url('/fonts/roboto-light-webfont.woff') format('woff'),
         url('/fonts/roboto-light-webfont.ttf') format('truetype'),
         url('/fonts/roboto-light-webfont.svg#robotolight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotoitalic';
    src: url('/fonts/roboto-italic-webfont.eot');
    src: url('/fonts/roboto-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/roboto-italic-webfont.woff2') format('woff2'),
         url('/fonts/roboto-italic-webfont.woff') format('woff'),
         url('/fonts/roboto-italic-webfont.ttf') format('truetype'),
         url('/fonts/roboto-italic-webfont.svg#robotoitalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'roboto_condensedregular';
    src: url('/fonts/robotocondensed-regular-webfont.eot');
    src: url('/fonts/robotocondensed-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/robotocondensed-regular-webfont.woff2') format('woff2'),
         url('/fonts/robotocondensed-regular-webfont.woff') format('woff'),
         url('/fonts/robotocondensed-regular-webfont.ttf') format('truetype'),
         url('/fonts/robotocondensed-regular-webfont.svg#roboto_condensedregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotolight_italic';
    src: url('/fonts/roboto-lightitalic-webfont.eot');
    src: url('/fonts/roboto-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/roboto-lightitalic-webfont.woff2') format('woff2'),
         url('/fonts/roboto-lightitalic-webfont.woff') format('woff'),
         url('/fonts/roboto-lightitalic-webfont.ttf') format('truetype'),
         url('/fonts/roboto-lightitalic-webfont.svg#robotolight_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'roboto_condensedlight_italic';
    src: url('/fonts/robotocondensed-lightitalic-webfont.eot');
    src: url('/fonts/robotocondensed-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/robotocondensed-lightitalic-webfont.woff2') format('woff2'),
         url('/fonts/robotocondensed-lightitalic-webfont.woff') format('woff'),
         url('/fonts/robotocondensed-lightitalic-webfont.ttf') format('truetype'),
         url('/fonts/robotocondensed-lightitalic-webfont.svg#roboto_condensedlight_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'roboto_condensedlight';
    src: url('/fonts/robotocondensed-light-webfont.eot');
    src: url('/fonts/robotocondensed-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/robotocondensed-light-webfont.woff2') format('woff2'),
         url('/fonts/robotocondensed-light-webfont.woff') format('woff'),
         url('/fonts/robotocondensed-light-webfont.ttf') format('truetype'),
         url('/fonts/robotocondensed-light-webfont.svg#roboto_condensedlight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'roboto_condenseditalic';
    src: url('/fonts/robotocondensed-italic-webfont.eot');
    src: url('/fonts/robotocondensed-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/robotocondensed-italic-webfont.woff2') format('woff2'),
         url('/fonts/robotocondensed-italic-webfont.woff') format('woff'),
         url('/fonts/robotocondensed-italic-webfont.ttf') format('truetype'),
         url('/fonts/robotocondensed-italic-webfont.svg#roboto_condenseditalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotoregular';
    src: url('/fonts/roboto-regular-webfont.eot');
    src: url('/fonts/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/roboto-regular-webfont.woff2') format('woff2'),
         url('/fonts/roboto-regular-webfont.woff') format('woff'),
         url('/fonts/roboto-regular-webfont.ttf') format('truetype'),
         url('/fonts/roboto-regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotomedium_italic';
    src: url('/fonts/roboto-mediumitalic-webfont.eot');
    src: url('/fonts/roboto-mediumitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/roboto-mediumitalic-webfont.woff2') format('woff2'),
         url('/fonts/roboto-mediumitalic-webfont.woff') format('woff'),
         url('/fonts/roboto-mediumitalic-webfont.ttf') format('truetype'),
         url('/fonts/roboto-mediumitalic-webfont.svg#robotomedium_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}
