@mixin link-colors($normal, $hover: false, $active: false, $visited: false, $focus: false)
  color: $normal
  @if $visited
    &:visited
      color: $visited

  @if $focus
    &:focus
      color: $focus

  @if $hover
    &:hover
      color: $hover

  @if $active
    &:active
      color: $active

@mixin text-button($normal, $hover: false, $button_normal: false, $button_hover: false, $button_outline: false)
  @include link-colors($normal, $hover)
  & i
    @if $button_normal
      color: $button_normal
    @if $button_outline
      text-shadow: -1px 0 $button_outline, 0 1px $button_outline, 1px 0 $button_outline, 0 -1px $button_outline
  &:hover i
    @if $button_hover
      color: $button_hover

@mixin font($font)
  font-family: $font, helvetica, sans-serif
