#= require jquery
#= require jquery_ujs
#= require turbolinks
#= require_tree .
RISKY_CAPTCHA = <%= BruteForce::LOCKED_RISK_THRESHOLD %>

#$(window).data('media', <%= Link::MEDIA.to_json %>)
$(window).resize -> $(document).trigger 'app:resize'

Turbolinks.enableProgressBar()

# Document init handlers
$(document)
  .ready -> $(document).trigger 'app:ready'
  .ajaxError -> ajax.hide()
  .on 'page:load', -> $(document).trigger 'app:ready'
  .on 'scroll', ->
    margin_top = parseInt($('aside').css('margin-top'))
    top = $(document).scrollTop()
    top = margin_top if top > margin_top
    $('aside').css('top', top * -1)

  # Generic application handler
  .on 'app:ready', (obj, context) ->
    # Handles all voting, everywhere
    $('.up, .down').click ->
      if $('body.signed-out').length
        window.location = $('#user').attr('href')
        return false
      votable = $(this).closest('.votable')
      id_parts = votable.prop('id').match(/([a-z]+)_([0-9]+)/)
      weight_up = parseInt($('#user').data('weight-up'))
      weight_down = parseInt($('#user').data('weight-down'))
      is_removal = (($(this).hasClass('up') and votable.hasClass('upped')) \
      or ($(this).hasClass('down') and votable.hasClass('downed')))
      is_new = !(votable.hasClass('downed') or votable.hasClass('upped'))

      votable.removeClass('upped downed')

      if $(this).hasClass('up')
        change = 1
        votable.addClass('upped') unless is_removal
      else
        change = -1
        votable.addClass('downed') unless is_removal

      change *= -1 if is_removal # score update needs to be reversed if its a removal

      $.post($(this).attr('href'), {
        "#{id_parts[1]}_id": id_parts[2],
        'change': if is_removal then 0 else change
      }).success (data) ->
        window.location = data.sign_in_path if data.sign_in_required

      new_score = parseInt(votable.data('score'))

      if change == 1
        new_score += weight_up if !is_removal
        new_score += weight_down if !is_new
      else
        new_score -= weight_down if !is_removal
        new_score -= weight_up if !is_new

      new_class = ''
      new_class = 'positive' if new_score > 0
      new_class = 'negative' if new_score < 0
      votable.data('score', new_score)
      new_score = '+' + new_score if new_score >= 0

      # Apply score locally
      $('*[data-score-display]', votable).each ->
        $(this).removeClass('positive negative').addClass(new_class)
        if $(this).data('score-display') == ''
          $(this).html(new_score)
        else
          $(this).html($(this).data('score-display').replace('$1', new_score))
      false
    $('aside .exp', context).click ->
      # Open sidebar item (+/-)
      if $('i', this).hasClass('fa-plus-circle')
        $('i', this).parents('li').find('ol').addClass('open')
        $('i', this).removeClass('fa-plus-circle').addClass('fa-minus-circle')
      else
        $('i', this).parents('li').find('ol').removeClass('open')
        $('i', this).addClass('fa-plus-circle').removeClass('fa-minus-circle')
      false
    # Opens appropriate sidebar category based upon url
    $('aside a:not(.exp)', context).each ->
      if window.location.pathname.indexOf($(this).attr('href')) == 0
        $(this).parents('li').find('ol').addClass('open')
        $(this).parents('li').find('.exp i').removeClass('fa-plus-circle').addClass('fa-minus-circle')
    # Open menu
    $('#menu', context).click ->
      if $('body.side-open').length || $('aside:visible').width() > 60
        $('aside').scrollTop(0)
        $('body').removeClass('side-open')
        $('body').addClass('side-close')
      else
        $('body').addClass('side-open')
        $('body').removeClass('side-close user-open')
      false
    # Open user menu
    $('#user_menu', context).click ->
      return true if $('body.signed-out').length
      if $('body.user-open').length
        $('body').removeClass('user-open')
      else
        $('body').addClass('user-open side-close')
        $('body').removeClass('side-open')
        $('#user_nav').scrollTop(0)
      false
    $('.alert-hide', context).click ->
      $(this).parents('.alert').hide()
      false
    $(document).trigger 'app:captcha', context
    $('form:not(.no-ajax)', context)
      # Ajax form submit
      .submit ->
        $('.errors', this).remove()
        $('.status', this).hide()
        $('.status.saving', this).show()
        $('button[type=submit]').prop('disabled', true)
      # Ajax form success
      .on 'ajax:success', (obj, data) ->
        $('.status', this).hide()
        if data.success
          $('.status.saved', this).show()
          Turbolinks.visit data.redirect if data.redirect?
          location.reload() if data.refresh? && data.refresh == true
        else
          $('.status.error', this).show()
          $('.captcha', $(this)).each ->
            if $(this).data('score') is not null
              return if $(this).data('score') > @RISKY_CAPTCHA
            grecaptcha.reset $(this).data('captcha')
          if data.captcha?
            $('.captcha[data-score]').data('score', data.captcha)
            $(document).trigger "app:captcha"
          errors = []
          for name, error of data.errors
            errors.push(error)
          errors_list = '<ul class="errors"><li>' + errors.join('</li><li>') + '</li></ul>'
          $(':visible:not(:header):first', this).before(errors_list)
          window.location = '#' + $(this).prop('id') if $(this).prop('id')
      # Ajax form completed
      .on 'ajax:complete', ->
        $('button[type=submit]').prop('disabled', false)
      # Ajax form errpr
      .on 'ajax:error', (xhr, status, error) ->
        $('.status', this).hide()
        $('.status.error', this).show()
        $('.captcha', $(this)).each ->
          if $(this).data('score') is not null
            return if $(this).data('score') > @RISKY_CAPTCHA
          grecaptcha.reset $(this).data('captcha')
        alert("#{status.status} #{status.statusText}")

  # Captcha generator
  .on 'app:captcha', (obj, context) ->
    if $('.captcha', context).length and grecaptcha?
      $('.captcha', context).each ->
        if $(this).data('score')?
          return if $(this).data('score') <= RISKY_CAPTCHA
        $(this).data('recaptcha', grecaptcha.render($(this).prop('id'),
          sitekey: '<%= Rails.application.config.public_key %>',
          callback: (e) -> console.log($(this))
        )) if $(this).html() is ''
  .on 'app:resize', ->
    $('.iframe-embed').each ->
      if !$(this).data('aspectRatio')
        $(this).data('aspectRatio', $(this).attr('height') / $(this).attr('width'))
        $(this)[0].width = 0
        $(this)[0].height = 0
      max_height = $(window).height() - 75
      max_width = $(this).parents('.fit-content').width()
      if max_height > (max_width * $(this).data('aspectRatio'))
        $(this).height(max_width * $(this).data('aspectRatio')).width(max_width)
      else
        $(this).height(max_height).width(max_height * ($(this).data('aspectRatio') + 1))

@close_modal = ->
  $('#modal, #modal_background').remove()


# Allow loading of captchas on document:back
@load_captchas = ->
  $(document).trigger "app:captcha"

# Ajax indicator
ajax =
  show: ->
    unless $('#loading').length
      $('body').prepend '<div id="loading"><i class="fa fa-2x fa-spinner fa-pulse"></i></div>'
  hide: ->
    $('#loading').remove()

@markdown_toggle = (obj) ->
  $('.markdown-help', $(obj).parents('.markdown-field')).toggle()
  false
