/*
 *= require font-awesome
 *= require_tree .
 *= require_self
 */

@import _constants

/*** Base elements ***/
html
  background: $background
  padding: 0 1rem
  min-height: 100%

body
  background: white
  font-size: 14px
  @include font("robotoregular")
  min-height: 100vh
  margin: 0 auto
  max-width: $max_width
  border-bottom: 1rem solid $background
  box-sizing: border-box
  -moz-box-sizing: border-box
  -webkit-box-sizing: border-box

h1,h2,h3,h4,h5,h6
  @include font("robotomedium")
  margin: 0 0 8px 0
  letter-spacing: 0

h2
  font-size: 24px

h3
  font-size: 22px

h4
  font-size: 20px

h5
  font-size: 18px

h6
  margin: 5px 0
  font-size: 16px

iframe
  border: 0

a
  @include link-colors($blue1, $blue2)
  text-decoration: none

p
  margin-bottom: 1rem

/*** Markdown styles ***/
.markdown
  blockquote
    border-left: 2px solid $green1
    color: $green1
    margin: 0
    padding: 0 0 0 5px
  ul, ol
    font-size: 100%
    margin: 0 0 0 5px
    ul, ol
      margin: 0 0 0 15px
  li
    margin: 0
  p
    margin: 0
  p + p
    margin: 5px 0 0 0

.markdown-field
  margin-bottom: 0.5rem

  dl.markdown-help
    display: none
    width: 100%
    max-width: 800px
    border-bottom: 1px solid $black4
    margin: 0.5rem 0

    .header
      @include font("robotomedium")
      border-top: 0

    dt, dd
      margin: 0
      padding: 3px
      display: block
      border-top: 1px solid $black4

    dt
      float: left
      width: 50%
      font-family: monospace, monospace
      white-space: pre-wrap

    dd
      margin-left: 50%

    dd:after
      border-bottom: 0
      visibility: hidden
      display: block
      font-size: 0
      content: " "
      clear: both
      height: 0

  textarea
    margin: 0

  table.markdown-help
    display: none

    td
      border-bottom: 1px solid $black4
      margin: 0

    thead td
      @include font("robotomedium")


/*** Alerts, errors ***/
.alert-hide
  float: left
  @include link-colors(#f00, #f66)

.alert
  min-height: 20px
  margin-bottom: 5px
  text-align: left
  line-height: 20px
  padding: 4px 10px
  color: black
  .alert-hide
    margin-right: 5px
  p
    padding: 0
    margin: 0

.alert-success
  border: 1px solid $green1
  background: $green4
  color: $green1

.alert-error
  border: 1px solid $red1
  background: $red4
  color: $red1

.alert-info
  border: 1px solid $orange1
  background: $orange4

#fatal_error
  border: 1px solid $red2
  background: $red4
  border-radius: 5px

  h4
    margin: 0
    padding: 8px
    background: $red2
    color: #fff

  p
    margin: 8px

.errors
  color: #c00
  margin: 0 0 5px 0

/*** Buttons ***/
.report a, .delete a
  @include text-button($red1, $red2, $red4, $red3, $red1)

.reply a
  @include text-button($green1, $green2, $green4, $green3, $green1)

.edit a
  @include text-button($black1, $black2)

.button.button-primary, button.button-primary, input[type="submit"].button-primary, input[type="reset"].button-primary, input[type="button"].button-primary
  background: $blue2
  border-color: $black3

/*** Forms ***/
form
  max-width: 800px
  margin: 0

fieldset
  margin-bottom: 0.5rem

input[type=text]:disabled, textarea:disabled
  background: $disabled

label
  @include font("robotomedium")
  font-weight: normal

textarea
  min-height: 135px

.captcha > div // only when captcha exists will margin be added
  margin-bottom: 0.5rem

label > .label-body
  @include font("robotomedium")

input[type=checkbox]
  display: none

input[type=checkbox] + label
  cursor: pointer
  display: inline-block

input[type=checkbox] + label:before
  font-family: FontAwesome
  display: inline-block
  font-size: 16px
  width: 18px
  color: #777

input[type=checkbox] + label:before
  content: "\f096"

input[type=checkbox]:checked + label:before
  content: "\f046"
  color: #333


.required:after
  content: '*'
  margin: 0 0 0 1px
  color: red

.status
  margin-bottom: 0.5rem
  display: none
  &.saving, &.saved
    color: $green1
  &.error
    color: $red1
  i
    margin-right: 4px

/*** Header ***/
header
  //padding: 0 1rem
  max-width: $max_width
  margin: 0 auto
  height: 45px
  z-index: 1000
  background: $background
  color: #fff
  line-height: 45px
  width: 100%
  //margin: -1rem 0 1rem -2rem

  a
    @include link-colors(white, $orange4)

  h1
    white-space: nowrap
    display: inline
    font-size: 20px
    line-height: 45px
    a
      @include link-colors(white, $orange4)

    .mini-title
      padding-left: 6px
      font-size: 15px
      color: #ccc
      @include link-colors($orange3, $orange4)

/*** Header buttons ***/
#user
  display: none

#menu
  display: inline-block
  font-size: 20px
  line-height: 45px
  height: 45px
  width: 45px
  text-align: center
  position: fixed
  padding-left: 0.5rem
  top: 0
  left: 0
  display: none
  color: $orange2
  z-index: 1001

  &:hover
    color: $orange3

footer
  padding-top: 1rem

/*** Content Container ***/
#container
  position: fixed
  top: 45px
  left: 0
  right: 0
  bottom: 0
  overflow: auto
  overflow-y: auto
  overflow-x: hidden

#content
  padding: 1rem 1rem 1rem 250px
  margin-left: 2rem

/*** Sidebar ***/
aside
  padding-left: 1rem
  margin: 45px 0 0 0
  display: block
  overflow: hidden
  overflow-y: auto
  width: 250px
  color: white
  z-index: 100
  position: fixed
  top: 0
  bottom: 0

  .user
    a
      @include link-colors($orange4, white)

    .exp
      @include link-colors(white, $orange4)

  .submit a
    color: $green4

  * .exp
    float: right
    position: absolute
    right: 6px
    top: 0px

  a:first-child i
    display: inline-block
    font-size: 20px
    line-height: 26px
    text-align: center
    width: 45px
    height: 26px

  ul
    list-style: none
    margin: 1rem 0 0 0
    padding: 0
    li
      background: $blue1
      min-width: 235px
      margin-bottom: 5px
      position: relative
      white-space: nowrap
      min-height: 30px
      line-height: 30px
      font-size: 18px
      &:first-child
        border-top: 0
      a
        color: white
      a:hover
        color: $orange4
      ol
        margin: 0
        display: none
        list-style: none
        padding: 0 0 0 45px

        &.open
          display: block

        li
          margin-bottom: 0
          min-width: 0
          font-size: 14px
          height: auto
          border-top: 0

///
// Smaller sidebar
///
@media screen and (max-width: $small_sidebar_width)
  html
    background: white
    margin: 0
    padding: 0
    min-height: auto

  body
    padding: 0
    min-height: auto
    overflow: auto
    border-bottom: 0

  aside
    top: 0 !important
    overflow-y: hidden
    width: 45px
    left: 0
    padding-left: 0.5rem
    ul
      margin: 0.5rem 0 0 0

  #content
    padding: 0.5rem 0.5rem 1rem 45px
    margin: 0 0 0 1rem
    position: fixed
    top: 45px
    bottom: 0
    left: 0
    right: 0
    overflow: auto

  #menu
    display: block

  header
    position: fixed
    top: 0
    left: 0
    right: 0
    h1
      padding-left: 0.5rem
      margin-left: 45px

  aside ul li ol.open
    display: none

  body.side-close
    aside ul li ol
      display: none !important // forces sidebar submenus closed

  body.side-open
    overflow: hidden
    aside
      background: $nav
      position: fixed
      overflow-y: auto
      width: 100%
      top: 45px !important
      right: 0
      left: 0
      bottom: 0
      margin: 0
      padding: 0

      ul
        margin: 0

        li
          background: none
          margin-bottom: 0
          min-width: auto
          border-bottom: 1px solid $black2

          li
            border-bottom: 0

          ol.open
            display: block

///
// Mobile style overrides
///
@media screen and (max-width: $mobile_width)

  body
    padding: 0

  #content
    top: 35px
    margin: 0
    padding: 0.3rem

  /*** Header ***/
  header
    margin: 0
    position: fixed
    top: 0
    left: 0
    right: 0
    height: 35px
    h1
      margin: 0
      top: 0
      position: fixed
      overflow: hidden
      text-overflow: ellipsis
      line-height: 35px
      height: 35px
      left: 35px
      right: 35px
      text-align: center
      font-size: 18px
      .mini-title
        display: none

    #user
      display: block
      position: fixed
      right: 0
      top: 0
      width: 35px
      height: 35px
      line-height: 35px
      border: 0
      padding: 0
      margin: 0
      border-radius: 0
      background: none
      color: white
      font-size: 20px
      text-align: center

  #menu
    width: 35px
    height: 35px
    line-height: 35px
    padding: 0

  .markdown-field
    dl.markdown-help
      border-bottom: 0
      border-top: 1px solid $black1

      .header
        display: none

      dt, dd
        margin: 0
        padding: 3px
        display: block
        border-top: 0
        float: none
        width: auto

      dt
        white-space: pre-wrap
        border-bottom: 1px dashed $black4

      dd
        border-bottom: 1px solid $black1
        margin-left: 0

  aside
    display: none

  body.side-open
    aside
      top: 35px !important
      display: block
