@import _constants

/*** Inline  content on links ***/
.fit-content
  text-align: center
  img
    max-width: 100%
    margin: 0 auto
  iframe
    margin: 0 auto

/*** Link list footer ***/
div#everything_read
  height: 100vh
  position: relative

  p
    position: absolute
    bottom: 20px
    text-align: center
    width: 100%
    @include font("robotomedium")

///
// Mobile style overrides
///
@media screen and (max-width: $mobile_width)
