@import _constants

/*** Comments block ***/

.comment-container
  background: white

  .comment-container
    border-left: 6px solid $black3

  &.even
    border-color: $black4
    background: $disabled

.comment-list > .comment-container
  margin-top: 20px
  border-bottom: 1px solid $black4

.comment-list > .comment-container:first-child
  margin-top: 0

.comment-list h6
  display: none

.comment-form
  h6
    display: none

  .edit-button
    display: none

  &.form-edit
    .edit-button
      display: block
    .post-button
      display: none

  &.form-reply h6.header-reply, &.form-edit h6.header-edit
    display: block

.comment
  .score
    margin: 0 4px 0 5px

  form
    padding: 2px 4px 0 4px
    border-top: 1px solid $black4
    h5
      display: none

  .comment-markdown
    @include font("robotolight")
    padding: 2px 4px

  .comment-header
    color: #777
    border-bottom: 1px solid $black4
    border-top: 1px solid $black4
    line-height: 25px

    .up, .down
      float: left

  //.comment-body
    //border: solid $black4
    //border-width: 1px 0 1px 0

  ul.comment-options
    float: right
    margin: 0
    padding: 0
    list-style: none
    li:first-child
      padding: 0 5px 0 0
    li
      display: inline
      padding: 0 5px
      a i
        padding-right: 3px

///
// Mobile style overrides
///
@media screen and (max-width: $mobile_width)
  .comment
    border-width: 0 0 0 3px
    ul.comment-options
      li:first-child
        padding: 0 3px 0 0
      li
        padding: 0 3px

    .comment-options
      span
        display: none
