@import _constants

body.c-links.a-index .report
  display: none

.title, .score
  @include font("robotomedium")

.score
  color: #555

/*** Link ***/
.link
  position: relative
  display: block
  border-top: 1px solid $black4
  margin: 0 -0.5rem 1rem -0.5rem
  padding: 1em 0 0 120px
  font-size: 18px
  line-height: 20px
  z-index: 1

  &:first-child
    padding: 0 0 0 120px
    border-top: 0

  .up, .down
    left: 92px
    position: absolute
    margin-top: -2px

  .down
    display: none

  .score
    margin-right: 5px

  .thumbnail
    position: absolute
    width: 80px
    height: 45px
    left: 0.5rem
    a
      text-align: center
      display: block
      width: 80px
      height: 45px

      &:hover
        opacity: 0.8

    i.loading
      display: none
      line-height: 45px
      font-size: 30px
      color: $orange1

    i.icon
      font-size: 16px
      position: absolute
      left: 3px
      bottom: 1px
      color: black
      text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white

    .text
      font-size: 16px
      position: absolute
      bottom: 0
      right: 0
      height: 45px
      width: 22px
      i
        position: absolute
        right: 3px
        bottom: 1px
        color: black
        text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white

    img
      max-width: 80px
      max-height: 45px


  .title
    word-wrap: break-word
    font-size: 18px
    @include link-colors($blue1, $blue2)

  .inline
    float: left
    display: block
    height: 20px
    width: 20px
    line-height: 22px
    font-size: 14px
    margin: 0 3px 0 0
    color: #fff
    display: block
    text-align: center
    border-radius: 10px
    background: $black1
    i
      position: relative
      top: -1px
    &:hover
      text-decoration: none
      background: $black3

  .domain, .nsfw
    font-size: 13px
    color: #555
    padding: 0 0 0 6px
    @include font("roboto_condensedlight")

  .nsfw
    color: $red1

  .content
    min-height: 45px

  .footer
    font-size: 13px
    list-style: none
    margin: 0
    padding: 0
    display: block
    @include font("robotoregular")

    li
      margin: 0 8px 0 0
      display: inline
      a
        text-decoration: none
        i
          font-size: 20px

    li.content
      display: block
      float: left
      text-align: center
      width: 20px
      a
        @include link-colors($black1, $black2)

    li.info
      margin: 0

      &:after
        content: ' '

    li.save a
      i
        color: $star_off
        text-shadow: -1px 0 $star_border, 0 1px $star_border, 1px 0 $star_border, 0 -1px $star_border
      &:hover i
        color: $star_on

    li.comments
      min-width: 48px
      margin: 0 4px 0 0
      a
        @include font("robotomedium")
        i
          padding-right: 5px
          color: white
          text-shadow: -1px 0 $black1, 0 1px $black1, 1px 0 $black1, 0 -1px $black1
        &:hover
          i
            color: lighten($blue4, 20%)
            text-shadow: -1px 0 $blue1, 0 1px $blue1, 1px 0 $blue1, 0 -1px $blue1

body.c-links.a-show .link // Single link on page override
  border-bottom: 0
  margin-top: 0

body.can-downvote .link
  .down
    margin-top: 22px
    display: block

.text-container
  padding: 5px
  text-align: left
  border: solid $black4
  border-width: 1px 0 1px 0
  margin: 0 0 1rem 0

.view-content
  margin: 8px 0 0 -145px

// Hide NSFW thumbnails until hover
body.hide-nsfw .link.nsfw .thumbnail a:first-child
  background: url('/nsfw.png')
  img
    display: none

  &:hover
    background: none
    img
      display: block

// NSFW img is forced when there's a text post
.link.nsfw.text .thumbnail a:first-child, .link.nsfw.text .thumbnail a:first-child:hover
  background: url('/nsfw.png') !important
  img
    display: none !important

// Generating thumbnail overrides previous NSFW settings
.link.generating-thumbnail .thumbnail a:first-child
  background: none !important
  img
    display: none !important
  i.loading
    display: inline

@media screen and (max-width: $small_sidebar_width)
  .link
    margin: 0 0 0.5rem 0
    padding: 0.5rem 0 0 110px

    &:first-child
      padding: 0 0 0 110px

    .thumbnail
      left: 0

    .up, .down
      left: 82px

///
// Mobile style overrides
///
@media screen and (max-width: $mobile_width)
  /*** Link ***/
  .link
    font-size: 14px
    padding: 0.5rem 0 0 85px
    margin: 0 0 0.5rem 0
    min-height: 65px
    line-height: 16px

    &:first-child
      padding: 0 0 0 85px

    .title
      font-size: 14px

    .up
      left: 25px
      margin-top: 45px

    .domain, .nsfw
      font-size: 11px
      padding: 0 0 0 4px

    .content
      min-height: 66px

    .footer
      font-size: 11px

      li
        line-height: 14px
        display: inline
        float: none

      li.points
        display: none

      li.save:before
        margin: 0

      li.comments span
        display: none

  .text .view-content
    margin: 10px 4px 0 -88px

  body.can-downvote .link
    .up
      left: 5px

    .down
      margin-top: 45px
      left: 50px
      display: block
