@import _constants

/*** Upvote, Downvote ***/
.up, .down
  cursor: pointer
  font-size: 25px
  text-decoration: none
  height: 22px
  width: 20px
  display: block
  text-align: center
  text-decoration: none
  line-height: 25px

.up
  @include link-colors($green4, $green3)
  text-shadow: -1px 0 $green1, 0 1px $green1, 1px 0 $green1, 0 -1px $green1

.down
  @include link-colors($red4, $red3)
  text-shadow: -1px 0 $red1, 0 1px $red1, 1px 0 $red1, 0 -1px $red1

.mine .up, .mine .down
  display: none !important

.upped .up
  @include link-colors($green2, $green3)

.downed .down
  @include link-colors($red2, $red3)

.negative
  color: $red1

.positive
  color: $green1
