aside
  ul
    - if signed_in?
      li.user
        = link_to fa_tag('user') + content_tag(:span, current_user.name),
          user_path(current_user.name_lower)
        = link_to fa_tag('plus-circle'), '#', class: 'exp'
        ol
          li = link_to t('users.edit.title'), edit_user_path(current_user.name_lower)
          li = link_to t('users.sign_out'), sign_out_path, method: 'delete'
      li.submit = link_to fa_tag('plus') + t('links.new.title'),
        (@category_path.nil? ? '' : @category_path) + '/submit', title: t('links.new.title')
    - else
      li.user
        = link_to fa_tag('user') + content_tag(:span, t('users.new.title')), sign_in_path
    - unless @categories.nil? || @categories[0].nil?
      - for category in @categories[0]
        li
          = link_to fa_tag(category.icon) + category.name.html_safe,
            category.path, title: category.name
          = link_to fa_tag('plus-circle'), '#', class: 'exp'
          - unless @categories[category.id].nil?
            ol
              - for child in @categories[category.id]
                li = link_to child.name, child.path
