doctype html
html
  head
    title = title_tag @title
    meta name='viewport' content='width=device-width,initial-scale=1'
    = csrf_meta_tags
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    script src='https://www.google.com/recaptcha/api.js?onload=load_captchas&render=explicit'
  body class='#{body_classes}'
    /div#main
    header
      h1
        = link_to t(:site_name), root_url
        = mini_title_tag @mini_title, @mini_url, fallback=@title
      a#menu href='#' = fa_tag('bars')
      - if signed_in?
        = link_to fa_tag('user'), user_path(current_user.name_lower), id: 'user',
          data: { 'weight-up': current_user.weight_up, 'weight-down': current_user.weight_down }
      - else
        = link_to fa_tag('user'), sign_in_path, id: 'user'
    / end of header
    = render 'layouts/sidebar'
    div#content
      == alerts
      == yield
